[Unit]
Description=ZeroLab candidate Elf3 hardware controller
Requires=zerolab-network.service
After=zerolab-network.service

[Service]
Type=simple
User=root
KillMode=control-group
KillSignal=SIGINT
TimeoutStopSec=15s
SendSIGKILL=yes
Environment=ROS_DOMAIN_ID=111
Environment=RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
Environment=ROS_LOCALHOST_ONLY=0
Environment='CYCLONEDDS_URI=<CycloneDDS><Domain Id="any"><General><Interfaces><NetworkInterface name="lo" multicast="true"/></Interfaces><AllowMulticast>true</AllowMulticast></General></Domain></CycloneDDS>'
ExecStartPre=/usr/bin/test -f /home/bxi/zerolab-wireless-auto-recovery-20260824/install-wireless-auto-recovery/setup.bash
ExecStartPre=/bin/bash -lc "! pgrep -af '[h]ardware_elf3|[b]xi_example_py_elf3_demo'"
ExecStart=/bin/bash -lc "source /opt/ros/humble/setup.bash && source /opt/bxi/bxi_ros2_pkg/setup.bash && source /home/bxi/bxi_ws/bxi_rl_controller_ros2_example/install/setup.bash && source /home/bxi/zerolab-wireless-auto-recovery-20260824/install-wireless-auto-recovery/setup.bash && exec ros2 launch bxi_example_py_elf3 example_demo_hw.launch.py"
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
